<div class="jumbotron">
    <form name="contatoForm">



        <!-- Demonstração do uso de ng-if e show e a performance -->
        <select class="form-control" ng-model="contato.tipo">
            <option value="">Selecione o tipo</option>
            <option value="">Pessoa Física</option>
            <option value="">Pessoa Jurídica</option>
        </select>

        <!-- 26 Watchers ativos -->
        <!-- Ng-if -->
        <div ng-if="contato.tipo==='Pessoa Física">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome"
                ng-required="true" ng-minlength="10" />
            <input class="form-control" type="text" ng-model="contato.cpf" name="telefone" placeholder="CPF"
                ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
        </div>

        <!-- 24 Watchers ativos -->
        <!-- Ng-if -->
        <div ng-if="contato.tipo==='Pessoa Jurídica">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome Fantasia"
                ng-required="true" ng-minlength="10" />
            <input class="form-control" type="text" ng-model="contato.CNPJ" name="telefone" placeholder="CNPJ"
                ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
            <input class="form-control" type="text" ng-model="contato.razaoSocial" name="telefone"
                placeholder="Razão Social" ng-required="true">
        </div>

        <!-- 5x mais rápido pois não interage na DOM, os elementos já estão renderizados -->
        <!-- Ng-show -->
        <div ng-show="contato.tipo==='Pessoa Física">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome"
                ng-required="true" ng-minlength="10" />
            <input class="form-control" type="text" ng-model="contato.cpf" name="telefone" placeholder="CPF"
                ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
        </div>

        <!-- Ng-show -->
        <div ng-show="contato.tipo==='Pessoa Jurídica">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome Fantasia"
                ng-required="true" ng-minlength="10" />
            <input class="form-control" type="text" ng-model="contato.CNPJ" name="telefone" placeholder="CNPJ"
                ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
            <input class="form-control" type="text" ng-model="contato.razaoSocial" name="telefone"
                placeholder="Razão Social" ng-required="true">
        </div>



        <!-- ui-date para utilizar a mask -->
        <input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date>
        <select class="form-control" ng-model="contato.operadora"
            ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy:'nome'">
            <option value="">Selecione uma operadora</option>
        </select>
    </form>

    <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
        <div ng-message="required" class="alert alert-danger">
            Por favor, preencha o campo nome!
        </div>
        <div ng-message="minlength" class="alert alert-danger">
            O campo nome deve ter no mínimo 10 caracteres.
        </div>
    </div>

    <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
        Por favor, preencha o campo telefone!
    </div>
    <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
        O campo telefone deve ter o formato DDDDD-DDDD.
    </div>
    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)"
        ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
</div>